body{
  padding-bottom:10px;
  height:100%;
  font-family: Gill Sans, Tahoma, Helvetica, Arial, sans-serif;
  font-size:1em;
}

.container{
  min-height:100%;
  position:relative;      
}
@media (max-width: 979px) {
      .navbar-fixed-top {margin-bottom: 0px;}
}

/* ----------FOOTER------------*/
html{height:100%;}

.container{
      min-height:100%;
        position:relative;
}
#footer {
  height: 50px;
  position:relative;
  text-align:center;
}
.clearfooter{height:10px; clear:both;}

#footer li{
  display: inline;
  list-style-type:none;
  padding-right: 20px;
}

/* ----------SIDEBAR------------*/
#sidebar h3,h4 {
    color:#4a4a4a;
}
#sidebar {
  border-left: solid;
  border-width: 1px;
  border-color: #eaeaea;
  padding-top:20px;
  padding-left:20px;
  padding-bottom:20px;
  background-color:#eaeaea;
}

